

@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px); /* 시작 위치 설정 */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* 종료 위치 설정 */
    }
}
  
.slideDown {
    animation: slideDown 0.5s ease forwards; /* 애니메이션 속성 설정 */
}

.button {
    width: 150px;
    margin: 5px 5px 5px 5px;
    border-style: none;
    text-align: left;
}

.button:hover {
    background-color: blanchedalmond;
    border-radius: 6px;
}

ul {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

.liActive {
    color:black;
}

.liActive:hover {
    background-color: antiquewhite;
    border-radius: 6px;
}

li {
    list-style:none;
    padding-left:5px;
    font-size: 15px;
}