@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

body {
    font-family: 'DNFBitBitv2';
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 400px;
    height: 12px;
    padding: 8px;
    margin: 0px 10px 0 220px;
    font-size: 16px;
    border: 0.7px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.search-bar button {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    background-color: #b860ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }