@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')}

body {
    font-family: 'DNFBitBitv2';
}

.search-bar {
    align-items: center;
    width:1000px;
}

.search-bar input {
    display: inline-block;
    width: 600px;
    height: 20px;
    padding: 8px;
    margin: 25px 10px 0 0px;
    font-size: 16px;
    border: 0.7px solid #ccc;
    border-radius: 4px;
    text-align: left;
}

.search-bar button {
    display: inline-block;
    height: 40px;
    padding: 0 15px;
    margin: 0px 180px 0px 0px;
    font-size: 16px;
    background-color: #b860ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }